body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gruppo','Bebas Neue', 'Coda', cursive;
    background-image: url(img/fundo.jpg);
    background-size: 100%;
}
/*-----------------------------------------------------------menu--------------------------------------------------------*/
.menu{
    position: fixed;
    width: 100%;
    height: 8%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.menu ul {
    list-style:none;
    text-align: center;
    
}
.menu ul li { display: inline; }
.menu ul li a {
    color: black;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    padding: 0 5% 0 5%;
}
/*-----------------------------------------------------------menu--------------------------------------------------------*/


/*-----------------------------------------------------------index--------------------------------------------------------*/

#nome{
    text-align: center;
    padding-top: 5%;
    line-height: 10px;
    font-size: 120%;
}
#fotoperfil{
    text-align: center;
    padding-top: 5%;
    background-image: url(img/nuvem.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 75%;
}
/*-----------------------------------------------------------index--------------------------------------------------------*/


/*-----------------------------------------------------------sobre mim--------------------------------------------------------*/
.textme{
    padding: 7% 25% 3% 25%;
}
.textme h1{
    color: black;
    font-size: 30px;
    text-align: center;
}
.textportfolio{
  padding: 5% 25% 3% 25%;
}
.textportfolio h1{
  color: black;
  font-size: 30px;
  text-align: center;
}
.textme p{
    padding-top: 1%;
    color: black;
    font-size: 20px;
    text-align: justify;
    text-indent: 1.5em;
}
.textme li{
    padding-top: 1%;
    color: black;
    font-size: 20px;
    text-align: justify;
    line-height: 60px;
}
#email{
    text-align: center;
    text-indent: 0;
    font-size: 25px;
}
/*-----------------------------------------------------------sobre mim--------------------------------------------------------*/

/*----------------------------------------menuhamburguer------------------------*/
#inicio1, #inicio2, #inicio4, #inicio5, #inicio6{
    padding-top: 4.1%;
} 
#inicio3{padding-top: 4%;}
.menupq{
    background:  rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: fixed;
    top: 10.5%;
    right: 10px;
    cursor: pointer;
    box-shadow: 0 0 0 0  rgba(255, 255, 255, 0.5), 0 0 0 0  rgba(255, 255, 255, 0.5);
    transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .menuq{
    width: 45px;
    height: 45px;
    position: fixed;
    top: 10.5%;
    right: 10px;
    cursor: pointer;
    transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  /*animação do menu*/ 
  input:checked ~ label .menuq {
    box-shadow: -50px 230px 0 180px rgba(255, 255, 255, 0.5);
  }
  
  /* só aparecer o menu ao clicar*/
  input:checked ~ #menupq {
    opacity: 1;
  }
  
  /* animação e estilo do menu*/
  #menupq {
    position: fixed;
    top: 53%;
    padding-left: 180%;
    transform: translate(-50%, -50%);
    list-style: none;
    opacity: 0;
    transition: 0.25s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
  }
  
  #menupq a {
    color: black;
    display: block;
    text-align: right;
    margin-bottom: 1em;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .linha {
    position: relative;
    display: block;
    background: black;
    width: 200px;
    height: 1px;
    margin:25px 0 25px 0;
    transition: 0.5s ease-in-out;
  }  
  .hamburguer {
    position: relative;
    display: block;
    background: black;
    width: 22px;
    height: 2px;
    transition: 0.5s ease-in-out;
    top: 22px;
    left: 11px;
  }  
  .hamburguer:before,
  .hamburguer:after {
    background: black;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
  }
  .hamburguer:before {
    top: -8px;
  }
  .hamburguer:after {
    bottom: -8px;
  }
  input {
    display: none;
  }
  input:checked ~ label .hamburguer {
    transform: rotate(45deg);
  }
  input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
  }
  input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
  }
  /*----------------------------------------menuhamburguer---------------------------------*/
  

/*-------------------------------------------------------------curriculo----------------------------------------------------*/
.curriculo{
    padding: 5% 25% 5% 25%;
}

.titulo{
    width: 100%;
    height: 8%;
    background-color: rgba(255, 255, 255, 0.5);
}

#conteudoadicionais, #conteudoidiomas, #conteudooutros{
    line-height: 25px;
}

/*-------------------------------------------------------------curriculo----------------------------------------------------*/


/*-------------------------------------------------------------portfolio----------------------------------------------------*/
.hoverzoom {
  position: relative;
  display: inline;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  left: 15%;
  right: 15%;
  border-radius: 15px;
  margin: -1% 10% 5% 0%;
}
.hoverzoom img {
  width: 50%; 
  border-radius: 2px;
  -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.hoverzoom .retina{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;    
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);    
  border-radius: 2px;
  align-items: center;
  -webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000); 
  padding-top: 20px;
  line-height: 20px;
}
.hoverzoom:hover .retina {
  opacity: 1;
  box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
}
.hoverzoom .retina p {
  color: #fff;
  font-size: 14px;
}
.hoverzoom .retina a {
  display: block;
  width: 150px;
  background: #6fc5e9;
  border: 1px solid #59afd4;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
  margin-left: 15%;
  margin-top: 4%;
}

/*-------------------------------------------------------------portfolio----------------------------------------------------*/


/*-------------------------------------------------------------footer----------------------------------------------------*/
.rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}    
.rodape li { 
    display: inline;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    padding: 1% 3% 1% 3%;
}
/*-------------------------------------------------------------footer----------------------------------------------------*/